<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">	
    </style>
</head>
<body>
			<h1>Погода на странице</h1>
		
				<h1>Погода в вашем городе</h1>
				<form action="" method="post">
					{% csrf_token %}
					<label for="city">Город</label>
					{{ form.name }}
					<input type="submit" name="send" value="Узнать" class="submit-button">
				</form>
			</div>
				<h1>Информация</h1>
				<!--alert alert-danger подсветить красным-->
				<!--alert alert-info подсветить синим-->

				{% for info in all_info %}
				<div class="alert alert-info">
					<div class="row">
						<div class="col-9">
							<b>Город:</b> {{ info.city }}<br>
							<b>Температура:</b> {{ info.temp }}<sup>o</sup><br>
						</div>
						<div class="col-2 offset-1">
							<img src="https://openweathermap.org/img/w/{{ info.icon }}.png" alt="Фото погоды" class="img-thumbnail">
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>

</body>
</html>